<ion-header>
    <ion-navbar color="primary">
        <div style="text-align:center">
        <img src="assets/imgs/LOGO01.png" style="display: inline-block; width: 60%;" />
        </div>
        <ion-title></ion-title>
        <ion-buttons end>
            <button *ngIf="this.usuarioLogado === false" ion-button icon-only color="secondary" (click)="goLoginPage();">
                <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
            </button>      
        </ion-buttons>
        <ion-buttons end>
            <button *ngIf="this.usuarioLogado === true" ion-button icon-only color="secondary" (click)="goPerfilPage();">
                <ion-icon ios="ios-person" md="md-person"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
    
<ion-content class="card-page">
    <ion-list>
        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Nome</ion-label>
            <ion-input type="text" [(ngModel)]="nomeUsuario"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Email</ion-label>
            <ion-input type="email" [(ngModel)]="emailusuario"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Telefone</ion-label>
            <ion-input type="tel" [(ngModel)]="telefoneusuario" [brmasker]="{mask:'(00) 00000-0000', len:15}"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>CPF</ion-label>
            <ion-input type="tel" [brmasker]="{mask:'000.000.000-00', len:14}" [(ngModel)]="cpfUsuario"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Data Nasc.</ion-label>
            <ion-datetime displayFormat="DD MM YYYY" cancelText="Cancelar" doneText="OK" [(ngModel)]="dataNasc"></ion-datetime>
        </ion-item>
        
        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Senha</ion-label>
            <ion-input type="password" [(ngModel)]="senha"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Confirmar Senha</ion-label>
            <ion-input type="password" [(ngModel)]="confirmaSenha"></ion-input>
        </ion-item>
    </ion-list>
    <div padding>
        <button ion-button color="secondary" block (click)="alterarUsuario()">Alterar Perfil</button>
    </div>
</ion-content>