<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle color="secondary">
            <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
        </button>
        <button *ngIf="conexao === false" ion-button icon-only>
            <ion-icon ios="ios-wifi" md="md-wifi" color="danger"></ion-icon>
        </button>
        <div style="text-align:center">
            <img src="assets/imgs/LOGO01.png" style="display: inline-block; width: 60%;" />
        </div>
        <ion-title></ion-title>
        <ion-buttons end>
            <button *ngIf="usuarioLogado === false" ion-button icon-only color="secondary" (click)="goLoginPage();">
            <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
            </button>
            <button *ngIf="usuarioLogado" ion-button icon-only color="secondary" (click)="goCarrinhoPage()">
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
            </button>
            <!-- <button *ngIf="this.usuarioLogado === true" ion-button icon-only color="secondary" (click)="goPerfilPage();">
                <ion-icon ios="ios-person" md="md-person"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngFor="let msg of mensagens" [attr.class]="msg.isWatson ? 'msgWatson' : 'msgUsuario'">
        <p class="msgRemetente">{{msg.isWatson ? 'Zack:' : 'Você:'}}</p>
        <p class="msgEnviada">{{msg.mensagem}}</p>
    </div>
</ion-content>
  
<ion-footer>
    <ion-toolbar>
        <ion-input type="text" placeholder="Digite sua mensagem..." [(ngModel)]="mensagem"></ion-input>
        <ion-buttons end>
            <button ion-button large color="secondary" (click)="enviarMensagem(mensagem)">
                <ion-icon ios="ios-send" md="md-send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>