<ion-header>
    <ion-navbar color="primary">
      <div style="text-align:center">
        <img src="assets/imgs/LOGO01.png" style="display: inline-block; width: 60%;" />
      </div>
      <ion-title></ion-title>
      <ion-buttons end>
        <button *ngIf="this.usuarioLogado === false" ion-button icon-only color="secondary" (click)="goLoginPage();">
          <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
        </button>      
      </ion-buttons>
    </ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesquisar"></ion-searchbar>
  </ion-header>
  
  <ion-content class="card-page">
    <ion-fab right bottom *ngIf="validaLogin()">
      <button ion-fab mini color="secondary"><ion-icon name="arrow-dropup"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab [navPush]="carrinhoPage">
          <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
          <ion-label>Carrinho</ion-label>
        </button>
        <button ion-fab (click)="goPedidosPage();">
          <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
          <ion-label>Pedidos</ion-label>
        </button>
        <button ion-fab (click)="goCamera()">
          <ion-icon ios="ios-paper-plane" md="md-paper-plane"></ion-icon>
          <ion-label>Comprovante</ion-label>
        </button>
        <button ion-fab (click)="logoff()">
          <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
          <ion-label>Sair</ion-label>
        </button>
      </ion-fab-list>
  </ion-fab>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
            pullingIcon="arrow-dropdown"
            pullingText="Puxe para atualizar"
            refreshingSpinner="circles"
            refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>
  
    <ion-grid>
      <ion-row *ngFor="let prod of produtos">
          <ion-col col-6 *ngFor="let item of prod" style="padding:1px;">
            <ion-card (click)="goDetalhes(item.IdProduto)">
              <ion-thumbnail>
                <img src="{{ item.Imagem }}" />      
              </ion-thumbnail>
              <ion-card-content>
                <h3>{{ item.Descricao }}</h3>            
                <h5 item-start><strong>R$ {{ item.Valor | number : '1.2-2' }}</strong></h5>
                <!-- <h3 text-center *ngIf="item.TotalEstoque <= 0">Produto sem Estoque!</h3> -->            
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
  
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="99%">
      <ion-infinite-scroll-content loadingSpinner="none"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>