<ion-header>
    <ion-navbar color="primary">
        <div style="text-align:center">
        <img src="assets/imgs/LOGO01.png" style="display: inline-block; width: 60%;" />
        </div>
        <ion-title></ion-title>
        <ion-buttons end>
            <button *ngIf="this.usuarioLogado === false" ion-button icon-only color="secondary" (click)="goLoginPage();">
                <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
            </button> 
            <button *ngIf="usuarioLogado" ion-button icon-only color="secondary" (click)="goCarrinhoPage()">
                <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
            </button>     
        </ion-buttons>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <ion-fab right bottom *ngIf="validaLogin()">
        <button ion-fab mini color="secondary"><ion-icon name="arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab [navPush]="carrinhoPage">
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
            <ion-label>Carrinho</ion-label>
            </button>
            <button ion-fab (click)="goPedidosPage();">
            <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
            <ion-label>Pedidos</ion-label>
            </button>
            <button ion-fab (click)="goCamera()">
                <ion-icon ios="ios-paper-plane" md="md-paper-plane"></ion-icon>
                <ion-label>Comprovante</ion-label>
            </button>
            <button ion-fab (click)="logoff()">
            <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
            <ion-label>Sair</ion-label>
            </button>
        </ion-fab-list>
    </ion-fab>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
            pullingIcon="arrow-dropdown"
            pullingText="Puxe para atualizar"
            refreshingSpinner="circles"
            refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>
        
    <ion-card *ngFor="let item of items" (click)="goDetalhesPedido(item.CodPedido)">
        <ion-item>
            <h2>Pedido No.: {{ item.CodPedido }}</h2>
            <ion-row>
                <ion-col>
                    <p>Valor Total: {{ item.ValorTotal | number: '1.2-2' }}</p>
                </ion-col>
                <ion-col>
                    <p>Data: {{ item.DataRegistro | date: 'dd/MM/yyyy' }}</p>
                </ion-col>
                <!-- <ion-col>
                    <p>Status: 
                        <ion-badge *ngIf="item.Status[0] == 'Aberto'" color="warning"> {{ item.Status[0] }} </ion-badge>
                        <ion-badge *ngIf="item.Status[0] == 'Concluido'" color="secondary"> {{ item.Status[0] }} </ion-badge>
                        <ion-badge *ngIf="item.Status[0] == 'Rejeitado'" color="danger"> {{ item.Status[0] }} </ion-badge>
                        <ion-badge *ngIf="item.Status[0] == 'Expedição'" color="azul"> {{ item.Status[0] }} </ion-badge>
                        <ion-badge *ngIf="item.Status[0] == 'Entregue'" color="secondary"> {{ item.Status[0] }} </ion-badge>
                        <ion-badge *ngIf="item.Status[0] == 'Aguardando Pagamento'" color="warning"> {{ item.Status[0] }} </ion-badge>
                    </p>
                </ion-col> -->
            </ion-row>
        </ion-item>
    </ion-card>
</ion-content>