<ion-header>
        <ion-navbar color="primary">
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button>
          <div style="text-align:center">
            <img src="assets/imgs/LOGO01.png" style="display: inline-block; width: 60%;" />
          </div>
          <ion-title></ion-title>
          <ion-buttons end>
            <button *ngIf="this.usuarioLogado === false" ion-button icon-only color="secondary" (click)="goLoginPage();">
              <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
            </button>      
          </ion-buttons>
          <ion-buttons end>
            <button *ngIf="this.usuarioLogado === true" ion-button icon-only color="secondary" (click)="goPerfilPage();">
                <ion-icon ios="ios-person" md="md-person"></ion-icon>
            </button>
          </ion-buttons>
        </ion-navbar>
        <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesquisar"></ion-searchbar>
      </ion-header>
      
      <ion-content>
          <ion-fab right bottom *ngIf="validaLogin()">
              <button ion-fab mini color="secondary"><ion-icon name="arrow-dropup"></ion-icon></button>
              <ion-fab-list side="top">
                <button ion-fab (click)="goCarrinhoPage();">
                  <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
                </button>
                <button ion-fab (click)="goPedidosPage();">
                  <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
                </button>
                <button ion-fab (click)="goCamera()">
                  <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
                </button>
                <button ion-fab (click)="logoff()">
                  <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
                </button>
              </ion-fab-list>
          </ion-fab>
          <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content>
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Atualizando...">
            </ion-refresher-content>
          </ion-refresher>
      
        <ion-card *ngFor="let item of items" id="{{ item.IdLoja }}" (click)="goProdutos(item.IdLoja);">
          <img src="assets/imgs/{{ item.Imagem }}" />
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/imgs/{{ item.Logomarca }}" />
            </ion-avatar>      
            <ion-card-content style="padding: 0">
              <h2>{{ item.Nome }}</h2>
              <p>{{ item.Endereco }}</p>
              <p>{{ item.Cidade }} - {{ item.Estado }}</p>
              <p>{{ item.Telefone }}</p>
            </ion-card-content>
          </ion-item>
        </ion-card>
      </ion-content>