<ion-header>
    <ion-navbar color="primary">
        <div style="text-align:center">
            <img src="assets/imgs/LOGO01.png" style="display: inline-block; width: 60%;" />
        </div>
        <ion-title></ion-title>
        <ion-buttons end>
            <button *ngIf="this.usuarioLogado === false" ion-button icon-only color="secondary" (click)="goLoginPage();">
                <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
            </button>      
        </ion-buttons>
        <ion-buttons end>
            <button *ngIf="this.usuarioLogado === true" ion-button icon-only color="secondary" (click)="goPerfilPage();">
                <ion-icon ios="ios-person" md="md-person"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <ion-fab right bottom *ngIf="validaLogin()">
        <button ion-fab mini color="secondary"><ion-icon name="arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab [navPush]="carrinhoPage">
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
            <ion-label>Carrinho</ion-label>
          </button>
          <button ion-fab (click)="goPedidosPage();">
            <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
            <ion-label>Pedidos</ion-label>
          </button>
          <button ion-fab (click)="goCamera()">
                <ion-icon ios="ios-paper-plane" md="md-paper-plane"></ion-icon>
                <ion-label>Comprovante</ion-label>
          </button>
          <button ion-fab (click)="logoff()">
            <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
            <ion-label>Sair</ion-label>
          </button>
        </ion-fab-list>
    </ion-fab>

    <div>
        <ion-list>            
            <ion-item>
                <ion-label color="secondary" style="color: #1ABC9C;" floating>Tel. Contato</ion-label>
                <ion-input [(ngModel)]="contato" type="tel" [brmasker]="{mask:'(00) 00000-0000', len:15}"></ion-input>
            </ion-item>                
            <ion-item>
                <ion-label color="secondary" style="color: #1ABC9C;" floating>End.Entrega</ion-label>
                <ion-input [(ngModel)]="endereco" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="secondary" style="color: #1ABC9C;" floating>Número</ion-label>
                <ion-input [(ngModel)]="numero" type="tel"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="secondary" style="color: #1ABC9C;" floating>Bairro</ion-label>
                <ion-input [(ngModel)]="bairro" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="secondary" style="color: #1ABC9C;"floating>Forma de Pagamento</ion-label>
                <ion-select [(ngModel)]="formaPgto">
                    <ion-option value="Boleto">Boleto</ion-option>
                    <ion-option value="Em Mãos">Em Mãos</ion-option>
                    <ion-option value="Depósito Bancário">Depósito Bancário</ion-option>                    
                </ion-select>
            </ion-item>
        </ion-list>
    </div>
    <!-- <p>
        <button ion-button color="secondary" block (click)="inserirUsuario();">Enviar</button>
    </p> -->
    <div padding>
        <button ion-button color="secondary" block (click)="finalizar();">Finalizar</button>
    </div>
</ion-content>