<ion-header>
    <ion-navbar color="primary">
        <div style="text-align:center">
            <img src="assets/imgs/LOGO01.png" style="display: inline-block; width: 60%;" />
        </div>
        <ion-title></ion-title>
        <ion-buttons end>
            <button *ngIf="this.usuarioLogado === false" ion-button icon-only color="secondary" (click)="goLoginPage();">
                <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
            </button>      
        </ion-buttons>
        <ion-buttons end>
            <button *ngIf="this.usuarioLogado === true" ion-button icon-only color="secondary" (click)="goPerfilPage();">
                <ion-icon ios="ios-person" md="md-person"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <ion-fab right bottom *ngIf="validaLogin()">
        <button ion-fab mini color="secondary"><ion-icon name="arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab [navPush]="carrinhoPage">
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
            <ion-label>Carrinho</ion-label>
          </button>
          <button ion-fab (click)="goPedidosPage();">
            <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
            <ion-label>Pedidos</ion-label>
          </button>
          <button ion-fab (click)="goCamera()">
                <ion-icon ios="ios-paper-plane" md="md-paper-plane"></ion-icon>
                <ion-label>Comprovante</ion-label>
          </button>
          <button ion-fab (click)="logoff()">
            <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
            <ion-label>Sair</ion-label>
          </button>
        </ion-fab-list>
    </ion-fab>

    <div>
        <ion-list>            
            <ion-card>
                <ion-item>
                    <h2>1. Endereço de Entrega</h2>
                </ion-item>
                <ion-item>
                    <h5><strong>Daniel Brito</strong></h5>
                    <h5>Travessa 22 de Junho, 21</h5>
                    <h5>Santa Therezinha - Lajinha - MG</h5>
                    <h5>36980-000</h5>
                    <h5>(27)99299-0929</h5>                    
                </ion-item>
                <ion-row>
                    <ion-col>
                        <button color="secondary" ion-button icon-start clear small>Adicionar</button>
                    </ion-col>
                    <ion-col>
                        <button color="secondary" ion-button icon-start clear small>Alterar</button>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-card>
                <ion-item>
                    <h2>2. Método de Pagamento</h2>
                </ion-item>
                    <ion-list radio-group no-lines>
                        <ion-item>
                            <ion-label>Boleto Bancário</ion-label>
                            <ion-radio value="bank_slip"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Cartão de Crédito</ion-label>
                            <ion-radio value="credit_card"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Depósito Bancário</ion-label>
                            <ion-radio value="deposito"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Em Mãos</ion-label>
                            <ion-radio value="em_maos"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Crediário Próprio</ion-label>
                            <ion-radio value="crediario"></ion-radio>
                        </ion-item>
                    </ion-list>
            </ion-card>
            <ion-card>
                <ion-card-content>
                    <ion-row>
                        <ion-col col-7>
                            <h5>Subtotal de produtos</h5>
                        </ion-col>
                        <ion-col col-5>
                            R$ {{ subTotal | number: '1.2-2' }}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-7>
                            <h5>Frete</h5>
                        </ion-col>
                        <ion-col col-5>
                            R$ {{ frete | number: '1.2-2' }}
                        </ion-col>
                    </ion-row>                    
                </ion-card-content>
                <ion-row style="background-color: black; color: white;">
                    <ion-col col-7>
                        <p><strong>TOTAL</strong></p>
                    </ion-col>
                    <ion-col col-5>
                        <p><strong>{{ totalPedido | number: '1.2-2' }}</strong></p>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
    </div>
    <!-- <p>
        <button ion-button color="secondary" block (click)="inserirUsuario();">Enviar</button>
    </p> -->
    <div padding>
        <button ion-button color="secondary" block (click)="finalizar();">Finalizar</button>
    </div>
</ion-content>