<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle color="secondary">
            <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
        </button>
        <button *ngIf="this.conexao === false" ion-button icon-only>
            <ion-icon ios="ios-wifi" md="md-wifi" color="danger"></ion-icon>
        </button>
        <div style="text-align:center">
            <img src="assets/imgs/LOGO01.png" style="display: inline-block; width: 60%;" />
        </div>
        <ion-title></ion-title>
        <ion-buttons end>
            <button *ngIf="this.usuarioLogado === false" ion-button icon-only color="secondary" (click)="goLoginPage();">
            <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
            </button>
            <button *ngIf="usuarioLogado" ion-button icon-only color="secondary" (click)="goCarrinhoPage()">
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
            </button>
            <!-- <button *ngIf="this.usuarioLogado === true" ion-button icon-only color="secondary" (click)="goPerfilPage();">
                <ion-icon ios="ios-person" md="md-person"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>
        
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Descrição</ion-label>
            <ion-input [(ngModel)]="Descricao" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Número do Cartão</ion-label>
            <ion-input [(ngModel)]="NumeroCartao" type="tel"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Nome Impresso no Cartão</ion-label>
            <ion-input [(ngModel)]="Nome" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Mês Vencimento</ion-label>
            <ion-input [(ngModel)]="MesVencimento" type="tel" [brmasker]="{mask:'00', len:10}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Ano Vencimento</ion-label>
            <ion-input [(ngModel)]="AnoVencimento" type="tel" [brmasker]="{mask:'0000', len:10}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="secondary" style="color: #1ABC9C;" floating>Cód. Segurança</ion-label>
            <ion-input [(ngModel)]="CodSeg" type="tel"></ion-input>
        </ion-item>
    </ion-list>
    <div padding>
        <button ion-button color="secondary" block (click)="inserirPagamento();">Confirmar</button>
    </div>
</ion-content>